<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 

<!-- Footer -->
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">ABOUT US</h5>
						<p class="mb-4">People's Health Hospital</p>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fas fa-map-marker"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
                                        <p>Branch 1:Hebbal Bangalore</p>
                                        <p>Branch 2:Nagawar Bangalore</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="far fa-envelope"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Have any questions?</h6>
										<p><a href="#contact form">Contact Us</a></p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fas fa-phone-volume"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Phone Number</h6>
										<p><a href="#">+91-8197929371,+91 9743253741</a></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">About Us</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"></div>
									<div class="col-10">
										<p class="mb-0">It is health that is real wealth and not pieces of gold and silver.
                                                SevenHills Group has over two decades of experience in the healthcare sector,
                                                 and is known for providing quality healthcare and valuable experience to all 
                                                 domestic and international patients.
                                        </p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Key Medical Procedure</h5>
						<ul class="recent-post">
							<li>
								<label class="mr-3">28 <br><span>APR</span></label>
								<span>Cancer Treatment Proton Treatment</span>
							</li>
							<li>
								<label class="mr-3">29 <br><span>APR</span></label>
								<span>Cosmetic - Plastic Surgery treatment</span>
							</li>
							<li>
								<label class="mr-3">30 <br><span>APR</span></label>
								<span>Knee Replacement Surgery Treatment</span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">CONNECT WITH US</h5>
						<!-- <div class="input-group">
						  	<input type="text" class="form-control" placeholder="Your Email Address">
						  	<span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
						</div> -->
						<ul class="social-pet mt-4">
							<li><a href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C318504236042%7Ce%7Cfacebook%20%27%7C&placement=&creative=318504236042&keyword=facebook%20%27&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066387003%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D1t1%26target%3D%26targetid%3Dkwd-360705453827%26loc_physical_ms%3D1007768%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQiAtrnuBRDXARIsABiN-7D5M7kN6v49tfRuo1l3cIiUYVKy4X1D0Kw9YDeoO60oEH2niF1XgMMaAgpvEALw_wcB" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/login" title="twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.google.com/search?q=google&rlz=1C1CHZL_enIN865IN865&oq=google&aqs=chrome..69i57j35i39j69i59j0l2j69i60l3.2236j0j4&sourceid=chrome&ie=UTF-8" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.instagram.com/" title="instagram"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2018 People's Health Hospital. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
        </section>
    </footer>

