<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="bg">
<div class="container" >
        <div class="d-flex justify-content-center h-100" >
                <div class="card" style="width:35%;margin-top:5% ">
                        <div class="card-header">
                               <h4 style="text-align: center;"> Craete Your Password </h4>
                        </div>
                        <div class="card-body">
        <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
          
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password"[(ngModel)]="sharedService.user.password" [ngModel]="user.password" required  reverse="true" #password="ngModel">
            <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
      
              Password is required
      
            </small>
            <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
          </div>
          <div class="form-group">
            <label for="">Confirm password</label>
            <input type="password" class="form-control" name="confirmPassword" [ngModel]="user.confirmPassword" required validateEqual="password" reverse="false" #confirmPassword="ngModel">
            <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
      
              Password mismatch
      
            </small>
            <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
          </div>
          <button type="submit" class="btn btn-primary btn-block"> Next</button>
                                
          
        </form>
      </div>
      </div>
      </div>
      </div>