<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
 crossorigin="anonymous">


<!-- FIRST FROM-->
    <form [formGroup]="SpecilalityGroup" (ngSubmit)="saveSpeciality()" #formtwo="ngForm" >
        <mat-form-field appearance="outline">
            <mat-label>Specilality</mat-label>
            <input matInput placeholder="Enter the new Specilality" formControlName="specaility" >
          </mat-form-field>
          <button type="submit" mat-button color="primary">Submit</button>
    </form>
  

 