<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="bg">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card" style="width:45%;margin-top:30px; margin-bottom:0%">
                <div class="card-header">
                    <h4 style="text-align: center;"> Reset Password</h4>
                </div>
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" formControlName="password" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>