<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div  class= "bg-light text-dark"style="font-size:20px">
       
    <!-- Content here -->
    <ul class="nav nav-pills">  
        	<li class="nav-item">
                    <a class="">People's Health</a>
                </li>
                
               <li>
            <a role="button" aria-haspopup="true" aria-expanded="false"  routerLink="/" routerLinkActive="active">Home</a>
                               </li>
            
        
              
    </ul>
</div>




