<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }
</style>

<div class="w3-theme-l5">
    <section id="intro" class="intro">

        <div class="intro-content">

            <!-- Page Container -->
            <div class="w3-container w3-content" style="max-width:1400px;margin-top:20px">
                <!-- The Grid -->
                <div class="w3-row">
                    <!-- Left Column -->
                    <div class="w3-col m3">


                        <!-- Accordion -->
                        <div class="w3-card w3-round">
                            <div class="w3-white">
                               

                                <button onclick="myFunction('Demo2')"
                                    class="w3-button w3-block w3-theme-l1 w3-left-align"(click)="guestLogin()">Make An
                                    Appointment</button>

                                <button onclick="myFunction('Demo3')"
                                    class="w3-button w3-block w3-theme-l1 w3-left-align">Contact
                                    Us</button>
                                <div id="Demo3" class="w3-hide w3-container">

                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Google Maps -->
                        <div class="w3-card w3-round w3-white w3-hide-small">
                            <div class="w3-container">

                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.212479966092!2d77.74318994934495!3d12.958251218634826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae0df61d3a1a4b%3A0x24f86d9cf8e48abb!2sColumbia%20Asia%20Hospital%20Whitefield%2C%20Bangalore!5e0!3m2!1sen!2sin!4v1572837762508!5m2!1sen!2sin"
                                    width="320" height="350" frameborder="0" style="border:0;"
                                    allowfullscreen=""></iframe>
                                <p>
                                    Survey No. 10P & 12P, Ramagondanahal, Varthur Kodi, Nagavara, Bangalore East -
                                    560066</p>
                                    <p><b>General Line:</b> </p>
                                    <p> +91 80 6165 6666 / +91 80 3313 0333</p>
                                
                            </div>
                        </div>
                        <br>



                        <!-- End Left Column -->
                    </div>

                    <!-- Middle Column -->
                    <div class="w3-col m7">
                        <div class="w3-row-padding">
                            <div class="w3-col m12">
                                <div class="w3-card w3-round w3-white">
                                    <div class="w3-container w3-padding">
                                        <h4>Nagavara- Overview</h4>
                                        <hr class="w3-clear">
                                        <img src="../../assets/img/whitefield.jpg"
                                            width="100%">
                                        <br>
                                        <p><b>People'health– Nagavara</b> people'health– Nagavara is a comprehensive Super Specialty / Tertiary Care facility
                                            situated in Nagavara, the IT hub of Bangalore. The hospital is considered
                                            among the best hospitals in the city. The medical team is highly qualified
                                            and have been trained in some of the best institutions in the world.</p>
                                        <p> The capabilities of the hospital include Cardiology, Orthopedics, Obstetrics
                                            & Gynecology, IVF, Internal Medicine, General Surgery, Pediatrics,
                                            Pediatrics Surgery Ophthalmology, Neurology, Dental and Plastic
                                            Surgery,Medical & Surgical Oncology are areas of expertise. </p>
                                        
                                        <p>The hospital has International standard infrastructure and follows globally
                                            benchmarked standards of medical, nursing and operating protocols making it
                                            the preferred healthcare destination for patients from around the world.
                                        </p>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>