<!-- 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div id="wrapper">
	
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="top-area">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-6">
              <p class="bold text-left">Monday - Saturday, 8am to 10pm </p>
              </div>
              <div class="col-sm-6 col-md-6">
              <p class="bold text-right">Call us now 8548812575</p>
              
              </div>
            </div>
          </div>
        </div>
            <div class="container navigation">
        
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../assets/img/logo.png" alt="" width="150" height="40" />
                    </a>
                </div>
      
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li>
           
              <a  data-toggle="dropdown">Hospital
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/Hospital" routerLinkActive="active">Hebbal</a></li>
                <li><a routerLink="/NagawaraHospital" routerLinkActive="active">Nagawara</a></li>
                
              </ul>
        
          </li>
                  
           
           <!-- <li><a  routerLink="/appoinment" routerLinkActive="active">Appoinment</a></li>-->
            <li><a routerLink="/Enquire" routerLinkActive="active">Enquire Now</a></li>
           
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
       